<div class="container active">
  <div class="modal">
    <div class="header">
      <button class="close-btn">x</button>
    </div>
    <div class="content">
      <div class="image-container">
        <img src="../../../assets/images/pop-up-image.jpg" />
      </div>
      <div class="text-container">
        <p>Enter your name below to be in with the chance of winning a stylish Drinks Trolly</p>
        <span class="error-message"></span>
        <input type="text" name="name" class="input" placeholder="Enter your name..." />
        <button class="submit-btn">Submit</button>
      </div>
    </div>
  </div>
  <div class="overlay">

  </div>
</div>
