/* You can add global styles to this file, and also import other style files */

/*Global Variables*/
@primary_colour: #48B0D9;
@secondary-colour: rgba(127, 79, 140, 0.9);
@primary-font: 'Heebo', sans-serif;
@secondary-font: 'Open Sans', sans-serif;

/*Mixins*/

.flexbox-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
    margin: 0;
    padding: 0;
}

/* Text Styles */

h1, h2, span {
  font-family: @primary-font;
}

p {
  font-family: @secondary-font;
}

/* Had to put slide styles here. Unsure why is wasn't working in the banner component*/

.swiper-container {
  .swiper-wrapper {
    .swiper-slide {
      display: flex;
      flex-direction: column;
      position: relative;

      img {
        width: 100%;
        object-fit: cover;
        min-height: 400px;
      }

      .text-container {
        width: 100%;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: @secondary-colour;

        h1 {
          color: white;
        }

        button {
          min-width: 100px;
          min-height: 50px;
          border: 0;
          background-color: white;
          border-radius: 4px;
          color: @secondary-colour;
        }
      }
    }
  }
}

/*Stlyes for tablet > Desktop*/

@media screen and (min-width: 769px) {
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        .text-container {
          position: absolute;
          align-items: flex-start;
          width: 500px;
          bottom: 50px;
          left: 100px;

          h1 {
            margin-left: 2rem;
          }

          button {
            margin-left: 2rem;
          }
        }
      }
    }
  }
}

/*Mobile specific styles*/

@media screen and (max-width: 769px) {
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        .text-container {
          width: 100%;
          align-items: center;
        }
      }
    }
  }
}

